<!doctype html>
<html lang="en">
<head>
    <title>{blog_title}</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ff8c00">
    <meta property="og:title" content="{blog_title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{github_pages}/blog/" />
    <meta property="og:image" content="{github_pages}/blog/media/preview.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <style>{style}</style>
</head>
<body>
    <header><h1>{blog_title}</h1></header><hr>
    <section>{articles}</section><hr>
    <footer>
        <footer-github><a href="{github}">GitHub</a></footer-github>
        <footer-copyright>{copyright}</footer-copyright>
    </footer>
</body>
