(
    samples_per_pixel: 32,
    image_scale: 25,
    frame_count: 24,
    frame_delay_num: 1,
    frame_delay_den: 24,
    material_mappings: [
        ( name: "Plane", field: Metallic, value: Scalar(0.75) ),
        ( name: "Plane", field: Roughness, value: Scalar(0.25) ),
        ( name: "CadCube", field: BaseColor, value: Vector3((1.0, 0.2, 0.2)) ),
        ( name: "CadCube", field: Metallic, value: Scalar(1.0) ),
        ( name: "CadCube", field: Roughness, value: Scalar(0.0) ),
    ]
)