[
    (
        name: "cycle",
        material_mappings: [
            ("Plane", Metallic, Scalar(0.75)),
            ("Plane", Roughness, Scalar(0.25)),
            ("CadCube", Metallic, Scalar(1.0)),
            ("CadCube", Roughness, Scalar(0.0)),
        ],
        sky_elevation_deg: Keyframes([
            (0.0, 0.0, CubicInOut),
            (2.0, 90.0, CubicInOut),
            (4.0, 0.0, CubicInOut),
        ]),
        sky_azimuth_deg: Keyframes([
            (0.0, 0.0, CubicInOut),
            (1.999, 0.0, CubicInOut),
            (2.000, 180.0, CubicInOut),
            (4.0, 180.0, CubicInOut),
        ]),
        sky_turbidity: Constant(3.0),
        sky_albedo: Constant((1.0, 1.0, 1.0)),
    ),
    (
        name: "elevation",
        material_mappings: [
            ("Plane", Metallic, Scalar(0.75)),
            ("Plane", Roughness, Scalar(0.25)),
            ("CadCube", Metallic, Scalar(1.0)),
            ("CadCube", Roughness, Scalar(0.0)),
        ],
        sky_elevation_deg: Keyframes([
            (0.0, 0.0, CubicInOut),
            (2.0, 90.0, CubicInOut),
        ]),
        sky_azimuth_deg: Constant(0.0),
        sky_turbidity: Constant(3.0),
        sky_albedo: Constant((1.0, 1.0, 1.0)),
    ),
    (
        name: "azimuth",
        material_mappings: [
            ("Plane", Metallic, Scalar(0.75)),
            ("Plane", Roughness, Scalar(0.25)),
            ("CadCube", Metallic, Scalar(1.0)),
            ("CadCube", Roughness, Scalar(0.0)),
        ],
        sky_elevation_deg: Constant(22.5),
        sky_azimuth_deg: Keyframes([
            (0.0, 0.0, CubicInOut),
            (2.0, 360.0, CubicInOut),
        ]),
        sky_turbidity: Constant(3.0),
        sky_albedo: Constant((1.0, 1.0, 1.0)),
    ),
    (
        name: "turbidity",
        material_mappings: [
            ("Plane", Metallic, Scalar(0.75)),
            ("Plane", Roughness, Scalar(0.25)),
            ("CadCube", Metallic, Scalar(1.0)),
            ("CadCube", Roughness, Scalar(0.0)),
        ],
        sky_elevation_deg: Constant(22.5),
        sky_azimuth_deg: Constant(0.0),
        sky_turbidity: Keyframes([
            (0.0, 1.0, CubicInOut),
            (2.0, 10.0, CubicInOut),
        ]),
        sky_albedo: Constant((1.0, 1.0, 1.0)),
    ),
    (
        name: "albedo",
        material_mappings: [
            ("Plane", Metallic, Scalar(0.75)),
            ("Plane", Roughness, Scalar(0.25)),
            ("CadCube", Metallic, Scalar(1.0)),
            ("CadCube", Roughness, Scalar(0.0)),
        ],
        sky_elevation_deg: Constant(22.5),
        sky_azimuth_deg: Constant(0.0),
        sky_turbidity: Constant(3.0),
        sky_albedo: Keyframes([
            (0.0, (0.0, 0.0, 0.0), CubicInOut),
            (2.0, (1.0, 0.26225, 0.0), CubicInOut),
        ]),
    ),
]